.checkout_box
{
    padding-top: 30px;
    margin-top: 150px;
    width: 400px;
    height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.checkout_box:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width: 600px) {
        .checkout_box{
            width: 80%;
        }
  }
.amount_section
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

}

.subtotal{
    margin-left: 10%;
}

.subtotal_amount
{
    margin-right: 40px;
}

.checkout_bottom
{

    color:aliceblue;
    width: fit-content;
    font-size: 14px;
    position: relative;
    left: 40%;
    background-color: rgb(104,142,121);
    height: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius:8px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
